* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width:100%; 
}
main{
  height: 100%;
  width: 100%;
  background-color: rgb(25, 25, 25);
  display: flex;
  justify-content: center;
  align-items: center;

}
#box{
  height: 180px;
  width: 480px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
h1
{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span{
color: rgb(12, 127, 228);
}
#outer{
  margin-top: 18px;
  margin:10px;
  

  height: 20px;
  width:calc(100%-20px);
  background-color: rgb(86, 86, 86);
  border-radius: 10px;
  
  


}
#inner{
  height: 100%;
  width: 0%;
  background-color: aquamarine;
  border-radius: 10px;
 
}

button{
  padding: 10px 15px;
  border-radius: 10px;
  background-color:aquamarine;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
button:active{
  scale:0.94
}
h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bottom{
  margin: 10px;
  margin-top: 25px;
  width: calc(100%-20px);

  display: flex;
  justify-content: space-between;
  align-items: center;
}